body {
  font-family: Georgia, serif;
}

.sidenav {
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #125772;
  overflow-x: hidden;
  padding: 10px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #A1C5DA;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1
{
  margin: 0;
  padding: 0;
}

h6
{
  margin: 0;
  padding: 0;
}

.disclaimer
{
    background-color: red;
    color: white;
    margin: 20px;
    padding: 20px;
}